{% extends 'events/base.html' %}

{% block content %}
<div class="grid-container">
    <div class="item1">    
   
        <h2> {{ game }}</h2>

        
       
        <ul>
            
            <ul>Date & Time: {{ game.game_date }}</ul>
            <ul>Room #: {{ game.game_room }}</ul>
            <ul>Hosted By: {{ game.table_host }}</ul>
            <ul>Description: {{ game.game_description }}</ul>
            <ul>Max Players: {{ game.game_room.max_players }}</ul>
            <ul>Players Attending: <br/>
            {% for player in game.players.all %}
                {{ player }} <br/>
            </ul>
        </ul>
    {% endfor %}
    </div>
</div>     
{% endblock %}