{% extends 'events/base.html' %}

{% block content %}
    
<div class="grid-container">
    <div class="item1">

    <h2>Game List</h2>
    Click on game for more information<br/><br/>
    
    {% for game in game_list %}
        
        <a  href="{% url 'show-game' game.id %}">{{ game }}</a>
        <ul>
            
            <ul>Date & Time: {{ game.game_date }}</ul>
            <ul>Room #: {{ game.game_room }}</ul>
            <ul>Hosted By: {{ game.table_host }}</ul>
        </ul>
        {%  if user.is_authenticated %}
             {% if user == game.table_host %}   
                <a href="{% url 'update-game' game.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
            
                <a href="{% url 'delete-game' game.id %}" class="btn btn-outline-danger btn-sm">Delete</a> <br/><br/>
            {% else %}
                Updates and Deletion can only be preformed by the Table Host for this game.<br/><br/>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    
    </div>
</div>    
{% endblock %}